<a href="https://colab.research.google.com/github/ac1175/introduction-to-computers/blob/main/%E8%A4%87%E7%BF%92%E4%BD%9C%E6%A5%AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(type(score))

NameError: ignored

In [ ]:
ans = sum(range(1,6))
print(ans)

15

In [ ]:
F = float(100)
C = (F-32)*5/9
print("%.1f" % C)

37.8

In [ ]:
a=5
print(b)

NameError: ignored

In [ ]:
print("1"+1)

TypeError: ignored

In [ ]:
print(3/0)

ZeroDivisionError: ignored

In [ ]:
print(int(''0))

SyntaxError: ignored

In [ ]:
mylist=[1,2,3]
print(mylist[3])

IndexError: ignored

In [ ]:
a=input("請輸入: ")
print(a)

請輸入: 12
12

In [ ]:
b=input("請輸入: ")
print(b)

請輸入: ABC
ABC

In [ ]:
c=input("請輸入: ")
print(c)

請輸入: 12A
12A

In [ ]:
a=input("input:")
print(type(a))

input:123
<class 'str'>

In [ ]:
a=input("input:")
print(type(a))

input:abcdef
<class 'str'>

In [ ]:
a=int(input("輸入整數"))
print(a)
b=float(input("輸入數字"))
print(b)

輸入整數10
10
輸入數字10
10.0

In [6]:
a=int(input("台灣時間(24小時制): "))
print("加拿大時間: ",(a+24-15)%24)

台灣時間(24小時制): 6
加拿大時間:  15

In [ ]:
a=int(input("輸入班上人數: "))
print((a//12)*50+(a%12)*5)

輸入班上人數: 42
180

In [ ]:
num = int(input("輸入3位數: "))
A=num%10
B=num//10%10
C=num//100%10
D=A+B+C
print(D)

輸入3位數: 123
6

In [ ]:
name_score = input('請輸入姓名與成績，資料之間加入空格: ')
name, score = name_score.split()
print(name)
print(score)
score = int(score)
print(type(score))

請輸入姓名與成績，資料之間加入空格: steven 90
steven
90
<class 'int'>

In [ ]:
x=10.5
print(x)
print(type(x))
y=int(x)+5
print(y)
print(type(y))

10.5
<class 'float'>
15
<class 'int'>

In [ ]:
x=10
print(x)
print("使用abs函數",abs(x),("\n"))
a=2
b=10
print("使用pow函數",pow(a,b),("\n"))
y=47.5
print(y)
print("使用round函數",round(y),("\n"))#(奇數四捨五入)
z=56.5
print(z)
print("使用round函數",round(z),("\n"))#(偶數五捨六入)

10
使用abs函數 10

使用pow函數 1024

47.5
使用round函數 48

56.5
使用round函數 56

In [3]:
x=True
print(int(x))
print(type(x))
y=False
print(int(y))
print(type(y))

1
<class 'bool'>
0
<class 'bool'>

In [4]:
x1="22"
x2="33"
x3=x1+x2
print(x3)
x4=float(x1)+float(x2)
#x5=int(x1)+int(x2)
print(x4)
#print(x5)

2233
55.0

In [5]:
str1="我是XXX"
str2="就讀淡江大學"
str3="科系是XX系"
str4=str1+str2+str3 #未使用換行
print(str4)
print("================") #分隔線
str5=str1+"\n"+str2+"\n"+str3 #使用換行
print(str5)

我是XXX就讀淡江大學科系是XX系
================
我是XXX
就讀淡江大學
科系是XX系